/* Временный reset.css 
Пока пропишу в глобальном файле. 
По хорошему надо вынести в отдельный файл и прописать сброс стилей под все элементы страницы.
Пропишу лишь некоторые из них, мне сейчас нужные */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
h5 {
	margin: 0;
	padding: 0;
}

	ul li {
		list-style: none;
	}

a {
	display: inline-block;
	text-decoration: none;
	color: #5a5f62;
	transition: transform 0.2s, color 0.2s;
	transform: scale(1); /* Установите начальный размер */
}

	a:hover {
		color: #beff54; /* Зеленый цвет текста при наведении */
		transform: scale(1.1); /* Увеличение на 10% при наведении */
	}

/* дальше general styles: */

.nav-item-active {
	color: #beff54; /* Зеленый цвет текста для активной кнопки */
	transform: scale(1.1); /* Увеличение на 10% для активной кнопки */
}

.staticHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1b1d1e;
	color: white;
	height: 71px;
	padding: 0 20px;
	width: calc(100% - 50px); /* 100% ширины минус 25px с каждой стороны */
	flex-shrink: 0;
	border-radius: 12px;
	margin: 25px 25px 0 25px; /* верхний отступ 25px, правый и левый 25px, нижний 0px */
	position: relative;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.logo-container a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo-container {
	display: flex;
	align-items: center; /* для вертикального выравнивания содержимого по центру */
	gap: 5px;
}

.logout, login {
	margin-left: auto;
	margin-right: 20px;
}

.menu-icon {
	display: none;
}

.contacts a {
	color: #fbfbfb;
	text-align: right;
	font-family: Manrope;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	transition: color 0.3s ease, transform 0.3s ease;
}

/* Стили для всплывающего окна */
.contact-popup {
	width: 360px;
	height: 136px;
	border-radius: 12px;
	border: 1px solid #beff54;
	background: #1b1d1e;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
	right: 20px; /* Расположение по вашему усмотрению */
	position: fixed; /* Changed from absolute to fixed */
	top: 81px;
	display: none; /* Скрыть пока не будет активирован */
	flex-direction: column;
	padding: 25px;
	z-index: 100; /* Убедитесь, что окно поверх остального контента */
	transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

	/* Стили для анимации */
	.contact-popup.active {
		display: flex;
		animation: slideIn 0.5s forwards; /* Имя анимации и её продолжительность */
		margin-right: 5px;
	}

/* Ключевые кадры для анимации */
@keyframes slideIn {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.contacts a:hover {
	color: #beff54;
	/* transform: scale(1.05); Увеличение размера при наведении */
}

.contact-active {
	color: #beff54; /* новый цвет для активной ссылки */
}

.logo {
	width: 33px;
	height: 21px;
}

.contact-popup p {
	color: #fbfbfb;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* Set the default text color for email and phone text */
	margin-left: 30px;
	margin-bottom: 0px;
}

	.contact-popup p span {
		color: #5a5f62;
		font-size: 16px;
		font-weight: 400;
	}

.contact-popup a {
	color: #5a5f62; /* Set a different text color for email links */
	text-decoration: none; /* Optional: removes the underline from links */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

	.contact-popup a:hover {
		color: #beff54; /* Optional: change color on hover */
	}

.company-name {
	color: #fbfbfb;
	font-family: Michroma;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-top: 5px;
}

nav {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-item {
	margin-right: 42px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: transform 0.2s, color 0.2s;
	transform: scale(1); /* Установите начальный размер */
}

.contacts > a {
	font-size: 20px;
}

@media (min-width: 576px) {
	.nav-item, .contacts > a {
		font-size: 18px;
	}
}

@media (min-width: 768px) {
	.nav-item, .contacts > a {
		font-size: 18px;
	}

	.nav-item {
		margin-right: 50px;
	}
}

@media (min-width: 1200px) {
	.nav-item, .contacts > a {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {
	.nav-item, .contacts > a {
		font-size: 24px;
	}
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item:hover {
	color: #beff54; /* Зеленый цвет текста при наведении */
	transform: scale(1.1); /* Увеличение на 10% при наведении */
}

.nav-item-active,
.nav-item-active:active {
	color: #beff54; /* Зеленый цвет текста для активной кнопки */
	transform: scale(1.1); /* Увеличение на 10% для активной кнопки */
}

/* Error alert styles */
.error-alert {
	display: none;
	background: red;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
	margin-top: 5px;
	font-size: 14px;
}

/* footer */

footer {
	border-radius: 12px;
	background: #1b1d1e;
	margin: 25px;
	padding: 46px 0px;
	width: calc(100% - 50px);
}

@media (min-width: 768px) and (max-width: 992px) {
	footer {
		padding: 37px 0px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	footer {
		padding: 30px 0px;
	}
}

@media (max-width: 576px) {
	footer {
		width: 100%;
		margin: 25px 0px 0px;
		padding: 30px 0px;
		border-radius: 20px 20px 0px 0px;
	}
}

.footer-container {
	padding-right: 75px;
	padding-left: 75px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.footer-container {
		padding-right: 19px;
		padding-left: 19px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.footer-container {
		padding-right: 19px;
		padding-left: 19px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.footer-container {
		padding-right: 35px;
		padding-left: 35px;
	}
}

@media (max-width: 576px) {
	.footer-container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

.footer-flex-parent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 992px) {
	.footer-flex-parent {
		flex-wrap: wrap;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.footer-flex-parent {
		flex-wrap: wrap;
	}
}

@media (max-width: 576px) {
	.footer-flex-parent {
		flex-wrap: wrap;
	}
}

/* first footer column */

.company-info-column {
	flex: 0 0 210px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.company-info-column {
		flex: 0 0 210px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.company-info-column {
		flex: 0 0 212px;
		margin-bottom: 36px;
	}
}

@media (max-width: 576px) {
	.company-info-column {
		flex: 0 0 212px;
		margin-bottom: 36px;
	}
}

.logo-wrapper {
	margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.logo-wrapper {
		margin-bottom: 5px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.logo-wrapper {
		margin-bottom: 5px;
	}
}

@media (max-width: 576px) {
	.logo-wrapper {
		margin-bottom: 5px;
	}
}

.logo-image {
	width: 44px;
	height: 27px;
}

@media (min-width: 576px) and (max-width: 768px) {
	.logo-image {
		width: 32.5px;
		height: 20px;
	}
}

@media (max-width: 576px) {
	.logo-image {
		width: 32.5px;
		height: 20px;
	}
}

.logo-company-name {
	color: #fbfbfb;
	font-family: Michroma;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	margin-left: 16px;
}

@media (min-width: 576px) and (max-width: 768px) {
	.logo-company-name {
		margin-left: 8px;
	}
}

@media (max-width: 576px) {
	.logo-company-name {
		margin-left: 8px;
	}
}

.company-description {
	color: #fbfbfb;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
}

@media (min-width: 768px) and (max-width: 992px) {
	.company-description {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.company-description {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 576px) {
	.company-description {
		font-size: 14px;
		line-height: 18px;
	}
}

/* second footer column (column group) */

.about-links-columns {
	flex-basis: 710px;
	display: flex;
	justify-content: left;
	padding-left: 35px;
	padding-right: 35px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.about-links-columns {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.about-links-columns {
		flex: 1 0 auto;
		justify-content: right;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.about-links-columns {
		flex-wrap: wrap;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 36px;
		width: 100%;
	}
}

@media (max-width: 576px) {
	.about-links-columns {
		flex-wrap: wrap;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 36px;
	}
}

.link-group-column:not(:first-child) {
	margin-left: 80px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.link-group-column:not(:first-child) {
		margin-left: 50px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.link-group-column:not(:first-child) {
		margin-left: 72px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.link-group-column {
		flex: 1 0 100%;
		margin-bottom: 14px;
	}

		.link-group-column:not(:first-child) {
			margin-left: 0px;
		}
}

@media (max-width: 576px) {
	.link-group-column {
		flex: 1 0 100%;
		margin-bottom: 14px;
	}

		.link-group-column:not(:first-child) {
			margin-left: 0px;
		}
}

.link-group-title {
	color: #fbfbfb;
	font-family: Manrope;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media (min-width: 768px) and (max-width: 992px) {
	.link-group-title {
		font-size: 18px;
	}
}

@media (width: 768px) {
	.link-group-title {
		font-size: 20px;
	}
}

.link-list li {
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
}

@media (min-width: 768px) and (max-width: 992px) {
	.link-list li {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (width: 768px) {
	.link-list li {
		font-size: 16px;
	}
}

.link-list li:not(:last-child) {
	margin-bottom: 8px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.link-list li:not(:last-child) {
		margin-bottom: 8px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.link-list li:not(:last-child) {
		margin-bottom: 6px;
	}
}

@media (width: 768px) {
	.link-list li:not(:last-child) {
		margin-bottom: 6px !important;
	}
}

@media (max-width: 576px) {
	.link-list li:not(:last-child) {
		margin-bottom: 6px;
	}
}

.link-list li:first-child {
	margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.link-list li:first-child {
		margin-bottom: 9px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.link-list li:first-child {
		margin-bottom: 14px;
	}
}

@media (width: 768px) {
	.link-list li:first-child {
		margin-bottom: 14px !important;
	}
}

@media (max-width: 576px) {
	.link-list li:first-child {
		margin-bottom: 14px;
	}
}

/* third footer column */

.social-network-link-group {
	flex: 0 0 210px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) and (max-width: 992px) {
	.social-network-link-group {
		flex-grow: 2;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 65px;
	}
}

@media (width: 768px) {
	.social-network-link-group {
		margin-top: 0px;
		justify-content: center;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.social-network-link-group {
		flex-grow: 1;
	}
}

@media (max-width: 576px) {
	.social-network-link-group {
		flex-grow: 1;
	}
}

.icons-group-wrapper {
	margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.icons-group-wrapper {
		order: 2;
		margin-bottom: 0px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.icons-group-wrapper {
		order: 1;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
	}
}

@media (max-width: 576px) {
	.icons-group-wrapper {
		order: 1;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.icons-group-wrapper a:not(:last-child) {
		margin-right: 20px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.icons-group-wrapper a:not(:last-child) {
		margin-right: 16px;
	}
}

@media (width: 768px) {
	.icons-group-wrapper a {
		margin-left: 8px !important;
		margin-right: 8px !important;
	}
}


@media (min-width: 576px) and (max-width: 768px) {
	.icons-group-wrapper a {
		margin-left: 8px;
		margin-right: 8px;
	}
}

@media (max-width: 576px) {
	.icons-group-wrapper a {
		margin-left: 8px;
		margin-right: 8px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.contact-info-wrapper {
		display: none;
	}
}

@media (max-width: 576px) {
	.contact-info-wrapper {
		display: none;
	}
}

.social-network-link.facebook:hover {
	content: url("../src/FacebookGreen.svg");
}

.social-network-link.twitter:hover {
	content: url("../src/TwitterGreen.svg");
}

.social-network-link.instagram:hover {
	content: url("../src/InsagramGreen.svg");
}

@media (min-width: 768px) and (max-width: 992px) {
	.contact-link-list {
		order: 1;
	}
}

.contact-link-list li {
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

	.contact-link-list li:not(:last-child) {
		margin-bottom: 8px;
	}

@media (min-width: 768px) and (max-width: 992px) {
	.contact-link-list li {
		font-size: 18px;
	}

		.contact-link-list li a {
			color: #fbfbfb;
		}
}

/* adaptive */

@media (max-width: 768px) {
	.staticHeader {
		border-radius: inherit;
		justify-content: left;
		border-bottom-left-radius: 15px; /* Закругляем нижние углы */
		border-bottom-right-radius: 15px;
		margin: 0 0 25px 0; /* Убираем верхние и боковые отступы, оставляем только нижний */
		height: 91px;
		box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
		width: auto;
	}

	.nav-item,
	.contacts {
		display: none; /* Скрываем элементы навигации и контакты */
	}

	.logo-container {
		position: absolute;
		margin-left: 25px;
		transform: translateX(-50%); /* Центрируем логотип */
		margin-top: 22px;
		margin-left: 91px;
	}

	.menu-icon {
		/* Добавляем стили для SVG иконки меню */
		display: block; /* или inline-block в зависимости от вашего layout */
		position: absolute;
		right: 20px; /* Позиционируем иконку меню справа */
		top: 50%;
		transform: translateY(-50%);
		margin-top: 15px;
	}
}

.mobile-menu {
	display: none; /* Скрыть меню до активации */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1b1d1e; /* Цвет фона меню */
	color: #fbfbfb; /* Цвет текста */
	z-index: 1000; /* Должно быть выше всех других элементов */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 10%
}

.menu-header {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.close-menu {
	margin-top: 142%;
	margin-right: 20px;
}

.menu-list {
	text-align: left;
	width: 100%; /* Устанавливаем ширину списка */
	list-style: none; /* Убираем маркеры списка */
	padding: 0; /* Убираем внутренние отступы */
	margin: 0;
	height: auto;
}

	.menu-list li {
		padding: 24px 0;
	}

		.menu-list li a {
			text-decoration: none;
			color: #fbfbfb;
			font-family: Manrope;
			font-size: 28px;
			font-style: normal;
			font-weight: 400;
			line-height: 30px;
			display: inline-block;
			position: relative;
		}

	.menu-list img {
		height: 24px; /* Примерный размер */
		margin-left: 5px; /* Отступ от текста */
	}

.contacts-info {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	background: #1b1d1e;
	color: #fbfbfb;
	margin-top: -6px;
	margin-left: 86px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: inherit;
}

	.contacts-info p {
		margin: 3px;
	}

.contact-label {
	color: #fbfbfb; /* Замените на желаемый цвет для слова 'email' и 'phone' */
}

.contacts-info.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: inherit;
}

.arrow-rotate {
	transition: transform 0.5s;
}

/* Этот класс должен соответствовать тому, что добавляется в JavaScript */
.down {
	transform: rotate(135deg);
	transition: transform 0.5s;
}

/* Стиль для пункта меню, который открывает контакты */
.contacts-trigger {
	cursor: pointer;
	text-decoration: none;
	color: #fbfbfb;
	font-family: Manrope;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	display: inline-block;
	position: relative;
}

	.contacts-trigger img {
		/* Ваши начальные стили для стрелки */
		transition: transform 0.5s; /* Плавность анимации */
	}

@media (min-width: 768px) and (max-width: 992px) {
	/* Стили для планшетов побольше */

	/* header */
	.company-name {
		display: none;
	}

	.nav a,
	.contacts a {
		font-size: 18px;
	}
}
