/* @media (min-width: 390px) {}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} */

body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}

.main-text-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 65px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 32px;
    color: #beff54;
}

.description {
    display: flex;
    text-align: center;
    color: #fbfbfb;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500px;
    line-height: 30px; /* 150% */
    height: 60px;
    margin-bottom: 88px;
    width: 587px;
}

.tabs {
    display: flex;
    padding: 4px;
    justify-content: space-between;
    margin: 25px 25px 0 25px;
    border-radius: 12px;
    background: #1b1d1e;
    gap: 2px;
}

    .tabs div {
        display: flex;
        width: 100%;
        height: 62px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #1b1d1e; /* Изначальный темный фон */
        cursor: pointer;
        transition: background-color 0.3s;
        padding-left: 5px;
        padding-right: 5px;
    }

        .tabs div p {
            color: #beff54; /* Зеленый текст */
            text-align: center;
            font-family: "Manrope", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }


@media (min-width: 390px) {
    .tabs div p {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }
}

@media (min-width: 576px) {
    .tabs div p {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }
}

@media (min-width: 768px) {
    .tabs div p {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
    }
}

@media (min-width: 992px) {
    .tabs div p {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
    }
}

@media (min-width: 1200px) {
    .tabs div p {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
    }
}

@media (min-width: 1440px) {
    .tabs div p {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px; /* 140% */
    }
}

@media (min-width: 1920px) {
    .tabs div p {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px; /* 140% */
    }
}




.tabs div.active-tab {
    background-color: #beff54;
}

    .tabs div.active-tab p {
        color: #000504;
        font-weight: 600;
    }

.package-container {
    display: flex; /* Включает Flexbox */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 390px) {
    .package-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 25px;
        max-width: 390px;
        justify-content: center;
        gap: 26px;
    }
}

@media (min-width: 576px) {
    .package-container {
        max-width: 366px;
    }
}

@media (min-width: 768px) {
    .package-container {
        max-width: 426px;
        gap: 40px;
    }
}

@media (min-width: 992px) {
    .package-container {
        max-width: 426px;
        gap: 40px;
    }
}

@media (min-width: 1200px) {
    .package-container {
        max-width: 426px;
        gap: 40px;
    }
}

@media (min-width: 1440px) {
    .package-container {
        max-width: 1348px;
        gap: 0;
        padding: 25px 0;
        justify-content: space-between;
    }
}

@media (min-width: 1920px) {
    .package-container {
        max-width: 1704px;
    }
}

.package {
    background-color: #fff;
    min-width: 426px;
    height: 410px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

@media (min-width: 390px) {
    .package {
        min-width: 366px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .package {
        min-width: 707px;
    }
}

@media (min-width: 992px) {
    .package {
        min-width: 707px;
    }
}

@media (min-width: 1200px) {
    .package {
        min-width: 707px;
    }
}

@media (min-width: 1440px) {
    .package {
        min-width: 426px;
    }
}

@media (min-width: 1920px) {
    .package {
        min-width: 540px;
    }
}

.package h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.package ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}

    .package ul li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

        .package ul li::before {
            content: url("../src/CheckCircle.svg");
            margin-right: 10px;
            font-size: 20px;
            width: 26px; /* Задайте необходимый размер */
            height: 26px;
        }

.package .price {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    position: relative;
}

/* fix here */
.button-view {
    display: block;
    background-color: #141515;
    color: #beff54;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 60px;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    padding: 13px 23px;
}

    .button-view::after {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .button-view:hover {
        background-color: #2d2e2e;
    }

.line {
    height: 1px;
    background-color: #babcc0;
    margin: 33px 0;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package .price {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.price span {
    color: #babcc0;
    font-weight: 400;
    font-size: 20px;
    margin-right: 10px;
}

/* table */

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

@media (min-width: 390px) {
    table {
        margin-bottom: 64px;
    }
}

@media (min-width: 576px) {
    table {
        margin-bottom: 64px;
    }
}

@media (min-width: 768px) {
    table {
        margin-bottom: 80px;
    }
}

@media (min-width: 992px) {
    table {
        margin-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    table {
        margin-bottom: 80px;
    }
}

@media (min-width: 1440px) {
    table {
        margin-bottom: 130px;
    }
}

@media (min-width: 1920px) {
    table {
        margin-bottom: 130px;
    }
}


.feature-service {
    padding: 100px 50px;
    padding-bottom: 0px;
}

.section-heading {
    color: #282a2c;
    font-size: 56px;
    font-weight: 600;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media (min-width: 390px) {
    .section-heading {
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 116.667% */
        text-transform: uppercase;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .section-heading {
        font-size: 35px;
        line-height: 40px; /* 116.667% */
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .section-heading {
        font-size: 35px;
        line-height: 40px; /* 116.667% */
        max-width: 730px;
    }
}

@media (min-width: 992px) {
    .section-heading {
        max-width: 100%;
        display: flex;
        justify-content: right;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .section-heading span {
        text-align: left;
    }
}

@media (min-width: 1440px) {
    .section-heading {
        font-size: 56px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px; /* 107.143% */
        text-transform: uppercase;
    }
}

@media (min-width: 1920px) {
    .section-heading {
        font-size: 58px;
        line-height: 60px; /* 103.448% */
    }
}

.section-heading span {
    width: 66.5%;
}


.first-heading {
    color: #beff54;
}

.feature-service-table {
    width: 100%;
    /* Set the table width as needed */
    color: white;
    table-layout: fixed;
    /* Set table layout to fixed */
}

.fa-horizontal-rule {
    color: #5A5F62;
}

.fa-check:before {
    content: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTUgMTJMMTAgMTdMMjAgNyIgc3Ryb2tlPSIjQkVGRjU0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
}

.first-heading-text {
    color: #beff54;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

@media (min-width: 390px) {
    .first-heading-text {
        font-size: 18px;
        line-height: 24px; /* 120% */
    }
}

@media (min-width: 576px) {
    .first-heading-text {
    }
}

@media (min-width: 768px) {
    .first-heading-text {
        font-size: 20px;
        line-height: 24px; /* 120% */
    }
}

@media (min-width: 992px) {
    .first-heading-text {
    }
}

@media (min-width: 1200px) {
    .first-heading-text {
    }
}

@media (min-width: 1440px) {
    .first-heading-text {
        font-size: 24px;
        line-height: 32px; /* 133.333% */
    }
}

@media (min-width: 1920px) {
    .first-heading-text {
        font-size: 24px;
        line-height: 32px; /* 133.333% */
    }
}


.fa-solid,
.fas {
    font-weight: 900;
}

.feature-service-table td {
    width: 25%;
    /* Divide the table into 4 equal parts (since you have 4 columns) */
    text-align: center;
    /* Center align content within cells */
}

.first-heading {
    padding-bottom: 0px;
    vertical-align: bottom;
}

.head-div {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #1b1d1e;
    padding-bottom: 10px;
    padding: 22px 50px;
    border-radius: 14px 14px 0px 0px;
    background: #1B1D1E;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 390px) {
    .head-div {
        padding: 20px 5px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .head-div {
        padding: 20px 10px;
    }
}

@media (min-width: 1200px) {
    .head-div {
        padding: 20px 20px;
    }
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}

.head-div h3 {
    color: #fbfbfb;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: auto;
}

@media (min-width: 390px) {
    .head-div h3 {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .head-div h3 {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .head-div h3 {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .head-div h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 1200px) {
    .head-div h3 {
        font-size: 36px;
    }
}

@media (min-width: 1440px) {
    .head-div h3 {
        font-size: 36px;
    }
}

@media (min-width: 1920px) {
}

.head-div p {
    color: #fbfbfb;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 13px;
    margin-bottom: 16px;
}

@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .head-div p {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .head-div p {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .head-div p {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .head-div p {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
}

.head-div p span {
    color: #5a5f62;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 5px;
    margin-top: 13px;
}

@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .head-div p span {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .head-div p span {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .head-div p span {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .head-div p span {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
}

.button-get-started {
    display: block;
    background-color: #141515;
    color: #beff54;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 60px;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    padding: 13px 23px;
}

@media (min-width: 390px) {
    .button-get-started {
        display: none;
    }
}

@media (min-width: 576px) {
    .button-get-started {
        display: none;
    }
}

@media (min-width: 768px) {
    .button-get-started {
        display: block;
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (min-width: 992px) {
    .button-get-started {
        display: block;
        font-size: 20px;
        padding: 13px 30px;
    }
}

@media (min-width: 1200px) {
    .button-get-started {
        display: block;
        font-size: 20px;
        padding: 13px 30px;
    }
}

@media (min-width: 1440px) {
    .button-get-started {
        display: block;
        font-size: 20px;
        padding: 13px 30px;
    }
}

@media (min-width: 1920px) {
}

.button-get-started:hover {
    background-color: #2d2e2e;
}

.tr-body {
    line-height: 2.5;
}

@media (min-width: 390px) {
    .tr-body td {
        font-size: 14px;
        line-height: 20px; /* 142.857% */
        height: 100px;
    }
}

@media (min-width: 576px) {
    .tr-body td {
        font-size: 14px;
        line-height: 20px; /* 142.857% */
        height: 80px;
    }
}

@media (min-width: 768px) {
    .tr-body td {
        font-size: 16px;
        line-height: 22px; /* 142.857% */
        height: 60px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .tr-body td {
        font-size: 18px;
        line-height: 24px; /* 133.333% */
    }
}

@media (min-width: 1920px) {
    .tr-body td {
        font-size: 20px;
        line-height: 24px; /* 120% */
    }
}

.feature-service-table td {
    width: 20%;
    /* Set the width for the other columns */
    text-align: center;
}

    .feature-service-table td:first-child {
        width: 30%;
        /* Set a different width for the first column */
        text-align: left;
        /* Align text in the first column to the left */
        padding: 10px;
        /* Add padding for better spacing */
    }

/* Цвет для четных строк */
.feature-service-table tr:nth-child(even) {
    background-color: #1b1d1e;
}
/* Цвет для нечетных строк */
.feature-service-table tr:nth-child(odd) {
    background-color: #141515;
}

/* popup.css */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media (min-width: 390px) {
    .modal-header-container {
        padding: 0px
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .modal-header-container {
        padding: 0px 60px;
        margin-bottom: 34px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .modal-header-container {
        padding: 0px 78px;
        margin-bottom: 66px;
    }
}

@media (min-width: 1920px) {
    .modal-header-container {
        padding: 0px 138px;
        margin-bottom: 66px;
    }
}

.modal-content {
    height: auto;
    background: #1b1d1e;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 45px 0px;
    overflow: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 390px) {
    .modal-content {
        max-width: 100%;
        padding: 20px 0px 32px;
    }
}

@media (min-width: 576px) {
    .modal-content {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .modal-content {
        max-width: 736px;
        padding: 56px 0px 60px;
    }
}

@media (min-width: 992px) {
    .modal-content {
        max-width: 736px;
    }
}

@media (min-width: 1200px) {
    .modal-content {
        /* max-width: 1150px; */
        max-width: 1150px;
    }
}

@media (min-width: 1440px) {
    .modal-content {
        max-width: 1390px;
        padding: 56px 0px 47px;
    }
}

@media (min-width: 1920px) {
    .modal-content {
        max-width: 1870px;
        padding: 56px 0px 84px;
    }
}

.close {
    cursor: pointer;
}

@media (min-width: 390px) {
    .modal-header {
        color: var(--_, #FBFBFB);
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
        text-transform: uppercase;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .modal-header h2 {
        font-size: 56px;
        line-height: 60px; /* 107.143% */
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .modal-header h2 {
        font-size: 56px;
        line-height: 60px; /* 107.143% */
    }
}

@media (min-width: 1920px) {
    .modal-header {
        font-size: 56px;
        line-height: 60px; /* 107.143% */
    }
}

.package-name {
    color: #101011;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px; /* 125% */
    text-transform: uppercase;
    padding: 4px 7px; /* 4px сверху и снизу, 7px слева и справа */
    border-radius: 8px;
    background-color: #beff54; /* Это зеленый цвет, который вы ранее упоминали */
}

@media (min-width: 390px) {
    .package-name {
        color: var(--_, #101011);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        text-transform: uppercase;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .package-name {
        font-size: 22px;
        line-height: 30px; /* 136.364% */
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .package-name {
        font-size: 24px;
        line-height: 30px; /* 125% */
    }
}

@media (min-width: 1920px) {
    .package-name {
        font-size: 28px;
        line-height: 34px; /* 121.429% */
    }
}

.modal-body li {
    margin-bottom: 13px; /* Расстояние между элементами списка */
    list-style-type: none; /* Убираем стандартные маркеры списка */
}

.modal-body ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
}

    .modal-body ul li {
        color: #fbfbfb;
        font-family: "Manrope", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px; /* 125% */
        position: relative; /* Делаем li относительно позиционированным, чтобы мы могли абсолютно позиционировать ::before псевдоэлемент */
        padding-left: 40px; /* Создаем пространство для SVG иконки */
    }

@media (min-width: 390px) {
    .modal-body ul li {
        color: var(--_, #FBFBFB);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .modal-body ul li {
        font-size: 18px;
        line-height: 25px; /* 138.889% */
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .modal-body ul li {
        font-size: 20px;
        line-height: 25px; /* 125% */
    }
}

@media (min-width: 1920px) {
    .modal-body ul li {
        font-size: 22px;
        line-height: 25px; /* 113.636% */
    }
}

.modal-body ul li::before {
    content: ""; /* Очищаем содержимое ::before */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Центрируем SVG иконку по вертикали */
    width: 26px; /* Размер SVG иконки */
    height: 26px; /* Размер SVG иконки */
    background: url("../src/CheckCircle-2.svg") no-repeat center center; /* Укажите путь к вашему SVG файлу */
}

.service-hint {
    position: relative;
    display: inline-block;
}

.service-icon {
    cursor: pointer;
    margin-bottom: -7px;
}

    .service-icon:hover {
        content: url("../src/QuestionWhite.svg");
    }

.hint-text {
    display: none;
    position: absolute;
    left: 100%; /* Позиционируем слева от иконки */
    top: 50%;
    transform: translateY(-50%); /* Центрируем по вертикали */
    width: 256px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #fbfbfb;
    background: #1b1d1e;
    color: #fbfbfb;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 10px;
    margin-left: 10px;
}

.service-icon:hover + .hint-text {
    display: block;
}






@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .submit-button-pop-up {
        width: 100%;
        padding: 19px 0px;
        background: #282a2c;
        color: #5a5f62;
        font-family: "Manrope", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 52px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .submit-button-pop-up {
        width: 100%;
        padding: 19px 0px;
        background: #282a2c;
        color: #5a5f62;
        font-family: "Manrope", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}

@media (min-width: 1920px) {
}



.contact-details h3 {
    color: #fbfbfb;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 90%;
}

.modal-body {
    display: flex;
}

@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .modal-body {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .modal-body {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .modal-body {
        flex-direction: row;
    }
}

@media (min-width: 1920px) {
}

.modal-cell {
    flex: 1;
}

@media (min-width: 390px) {
    .modal-cell-container {
    }
}

@media (min-width: 576px) {
    .modal-cell-container {
    }
}

@media (min-width: 768px) {
    .modal-cell-container {
        padding: 0px 60px;
    }
}

@media (min-width: 992px) {
    .modal-cell-container {
    }
}

@media (min-width: 1200px) {
    .modal-cell-container {
    }
}

@media (min-width: 1440px) {
    .modal-cell-container {
        padding: 0px 78px;
    }
}

@media (min-width: 1920px) {
    .modal-cell-container {
        padding: 0px 138px;
    }
}


@media (min-width: 390px) {
    .modal-line-container {
    }
}

@media (min-width: 576px) {
    .modal-line-container {
    }
}

@media (min-width: 768px) {
    .modal-line-container {
        padding: 42px 60px;
    }
}

@media (min-width: 992px) {
    .modal-line-container {
    }
}

@media (min-width: 1200px) {
    .modal-line-container {
        padding: 0px;
    }
}

@media (min-width: 1440px) {
    .modal-line-container {
        padding: 0px;
    }
}

@media (min-width: 1920px) {
    .modal-line-container {
    }
}


@media (min-width: 390px) {
    .vertical-line {
        height: 1px;
        background-color: #5a5f62;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .vertical-line {
        width: 100%;
        height: 1px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .vertical-line {
        width: 1px;
        height: 500px;
    }
}

@media (min-width: 1440px) {
    .vertical-line {
        width: 1px;
        height: 500px;
    }
}

@media (min-width: 1920px) {
}


@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .text-packge-name {
        margin-bottom: 34px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .text-packge-name {
        margin-bottom: 40px;
    }
}

@media (min-width: 1920px) {
}


@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .text-details {
        margin-bottom: 42px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .text-details {
        margin-bottom: 34px;
    }
}

@media (min-width: 1920px) {
}



.input-wrapper input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--input-underline, #5a5f62);
    color: var(--input-text-color, #fff);
    font-family: "Manrope", sans-serif;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    font-style: normal;
    font-weight: 500;
    padding: 5px;
    height: 30px;
}

    .input-wrapper input:focus {
        border-bottom: 1px solid var(--input-focus-underline, #beff54);
        caret-color: var(--input-focus-underline, #beff54);
    }

@media (min-width: 390px) {
    .input-wrapper input {
    }
}

@media (min-width: 576px) {
    .input-wrapper {
    }
}

@media (min-width: 768px) {
    .input-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .input-wrapper input {
            width: 293px;
            line-height: 30px;
            font-size: 20px;
        }

            .input-wrapper input:last-child {
                margin: 32px 0px 0px;
            }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .input-wrapper input {
        width: 100%;
        margin: 29px 0px 0px 0px;
        line-height: 30px;
        font-size: 20px;
    }

        .input-wrapper input:first-child {
            margin: 0px;
        }
}

@media (min-width: 1440px) {
    .input-wrapper input {
        width: 100%;
        margin: 29px 0px 0px 0px;
        line-height: 30px;
        font-size: 20px;
    }

        .input-wrapper input:first-child {
            margin: 0px;
        }
}

@media (min-width: 1920px) {
    .input-wrapper input {
        width: 100%;
        margin: 29px 0px 0px 0px;
        line-height: 30px;
        font-size: 20px;
    }
}




@media (min-width: 390px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
        color: #FBFBFB;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }
}

@media (min-width: 576px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
    }
}

@media (min-width: 768px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
        font-size: 22px;
        line-height: 30px; /* 136.364% */
    }
}

@media (min-width: 992px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
    }
}

@media (min-width: 1200px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
    }
}

@media (min-width: 1440px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
        font-size: 24px;
        line-height: 30px; /* 125% */
    }
}

@media (min-width: 1920px) {
    .text-packge-name, .services-text-and-icon h2, .text-details {
        font-size: 28px;
        line-height: 34px; /* 121.429% */
    }
}


.additional-services {
    /* margin-top: 40px; */
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (min-width: 390px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .additional-services {
        margin-top: 42px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}



@media (min-width: 390px) {
    .services-options {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .services-options {
        gap: 12px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
    .services-options {
        gap: 10px;
    }
}

@media (min-width: 1920px) {
}

.services-text-and-icon {
    display: flex; /* Изменяем на flex для горизонтального размещения элементов */
    justify-content: start; /* Выравнивание элементов слева */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    gap: 4px; /* Устанавливаем расстояние между элементами в 4px */
    width: 100%;
    margin-bottom: 22px;
}

/* Новые стили для кнопок */
.service-button {
    padding: 20px 25px;
    border: 1px solid #5a5f62;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 20px;
    line-height: 30px; /* 150% */
    font-weight: 400;
    color: #5a5f62;
    text-align: left;
}

    .service-button[data-active="true"] {
        border-color: #beff54;
        color: #fbfbfb;
    }

    .service-button:hover {
        color: #fbfbfb;
    }

        .service-button:hover::before {
            content: url("../src/cyrcleWhite.svg"); /* замените 'OtherImage.svg' на имя вашего другого SVG файла */
        }

    .service-button::before {
        content: url("../src/GroupCyrcle.svg"); /* замените 'path_to_your_svg.svg' на путь к вашему SVG файлу */
        margin-right: 10px; /* Расстояние между текстом и изображением */
        vertical-align: middle;
    }

    .service-button[data-active="true"]::before {
        content: url("../src/CyrcleGreen.svg");
    }

.error-box {
    display: none;
    width: 780px;
    height: 412px;
    border-radius: 24.607px;
    background: var(--_, #fbfbfb);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding-left: 60px; /* Align error message from the left */
    overflow: hidden;
    z-index: 1003;
}

.error-message {
    display: flow;
    padding: 0px;
    margin: 0px;
    margin-top: -25px;
}

    .error-message h1 {
        color: var(--_, #101011);
        text-align: left;
        font-family: Manrope;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        text-transform: uppercase;
    }

        .error-message h1 span {
            color: var(--_, #101011);
            font-family: Manrope;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            text-transform: lowercase;
        }

    .error-message p {
        color: var(--_, #5a5f62);
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 311px;
        text-align: left;
    }

        .error-message p span {
            color: var(--_, #101011);
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
        }

.HTTP-error {
    margin-top: 40px;
    margin-bottom: 16px;
}

.HTTP-description {
    margin-bottom: 42px;
}

.reload-button {
    width: 198px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--_, #000504);
    color: var(--_, #beff54);
    text-align: left;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Spacing between text and button */
}

.error-image {
    width: 479px;
    height: 479px;
    flex-shrink: 0;
    /* Higher z-index value */
    /* Optional: Add styles for image alignment */
}

    .error-image img {
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: contain; /* This will ensure the image keeps its aspect ratio */
    }

@media (max-width: 576px) {
    .main-text-header {
        display: block;
    }

    h1 {
        color: #beff54;
        font-family: Manrope;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        margin-top: 59px;
        padding: 1px 15px;
        letter-spacing: normal;
        margin-bottom: 12px;
    }

    .description {
        color: #fbfbfb;
        text-align: center;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 0px;
        padding: 10px 24px;
        width: auto;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

        .tabs div {
            display: flex;
            width: 84vw;
            text-align: center;
            margin: auto;
            height: 51px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 14px;
            background: #1b1d1e;
        }

            .tabs div p {
                color: #beff54;
                text-align: center;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }

            .tabs div.active-tab p {
                color: #000504;
                font-weight: 600;
            }

    element.style {
        transform: translateY(0px);
        opacity: 1;
        display: block;
        width: 707px;
        height: 435px;
        margin: 0px auto;
    }

    .package {
        background-color: #fbfbfb;
        width: 100vw !important;
        height: auto;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
    }

        .package h2 {
            color: #101011;
            font-family: Manrope;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 20px;
            margin-top: 0px;
        }

        .package ul li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            color: var(--_, #101011);
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

    .price span {
        color: #babcc0;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-right: 10px;
    }

    .package .price {
        display: flex;
        color: #101011;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        flex-grow: 1;
        text-align: left;
        font-weight: bold;
        text-align: center;
        position: relative;
    }

    .button-view {
        display: block;
        background-color: #141515;
        color: #beff54;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        border: none;
        border-radius: 50px;
        margin: 0px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative;
    }

    .line {
        height: 1px;
        background-color: #babcc0;
        margin: 20px 0;
    }

    .tr-body {
        line-height: 1;
    }

        .tr-body:first-child {
            font-size: 12px;
        }

    .feature-service {
        padding: 20px 5px;
    }

    .modal-section div {
        padding: 0;
    }

    .button-get-started {
        display: none;
    }

    .first-heading-text {
        margin: 0px;
    }

    .feature-service-table td:first-child {
        padding: 18px;
    }

    /* pop up */

    .modal {
        position: relative; /* Изменяем позиционирование */
        width: auto; /* Автоширина */
        height: auto; /* Автовысота */
        background-color: transparent; /* Прозрачный фон */
        z-index: 1; /* Нижний z-index для нормального потока документа */
        border-radius: 0; /* Убираем скругления углов */
    }

    .modal-content {
        position: relative;
        transform: none;
        /* margin: 0 auto; */
        height: auto;
        width: auto;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 20px 20px 32px;
        margin-bottom: 40px;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .close {
        width: 20px;
        margin-bottom: 41px;
        cursor: pointer;
    }

    .modal-header h2 {
        color: #fbfbfb;
        text-align: left;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
        text-transform: uppercase;
        margin-bottom: 37px;
        margin-top: 0;
    }

    .package-name {
        color: #101011;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        text-transform: uppercase;
        padding: 4px 7px; /* 4px сверху и снизу, 7px слева и справа */
        border-radius: 8px;
        background-color: #beff54; /* Это зеленый цвет, который вы ранее упоминали */
    }

    .modal-body li {
        margin-bottom: 13px; /* Расстояние между элементами списка */
        list-style-type: none; /* Убираем стандартные маркеры списка */
    }

    .modal-body ul {
        list-style-type: none; /* Убираем стандартные маркеры списка */
        padding: 0;
        margin: 0;
    }

        .modal-body ul li {
            color: #fbfbfb;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            position: relative; /* Делаем li относительно позиционированным, чтобы мы могли абсолютно позиционировать ::before псевдоэлемент */
            padding-left: 30px; /* Создаем пространство для SVG иконки */
        }

            .modal-body ul li::before {
                content: ""; /* Очищаем содержимое ::before */
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%); /* Центрируем SVG иконку по вертикали */
                width: 26px; /* Размер SVG иконки */
                height: 26px; /* Размер SVG иконки */
                background: url("../src/CheckCircle-2.svg") no-repeat center center; /* Укажите путь к вашему SVG файлу */
            }

    .service-hint {
        position: relative;
        display: inline-block;
    }

    .service-icon {
        display: none;
        cursor: pointer;
        margin-bottom: -7px;
    }

        .service-icon:hover {
            content: url("../src/QuestionWhite.svg");
        }

    .hint-text {
        display: block;
        position: unset;
        transform: none;
        width: auto;
        height: auto;
        border-radius: 0px;
        border: none;
        background: #1b1d1e;
        color: #5a5f62;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 11px;
    }

    .services-text-and-icon {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 4px;
        width: 100%;
        flex-direction: column;
        padding-left: 12px;
    }

    .additional-services h2 {
        color: #fbfbfb;
        text-align: left;
        margin-right: 0px;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .additional-services {
        width: 100%;
        margin-top: 20px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;
        margin-top: 14px;
        margin-left: 0px;
    }

    .service-button {
        line-height: 1.5;
        padding: 10px 20px;
        border: 1px solid #5a5f62;
        border-radius: 50px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        color: #5a5f62;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: start;
        justify-content: center;
        height: auto;
        width: 90%;
    }

        .service-button:hover {
            background-color: transparent; /* Цвет фона при наведении */
            color: #5a5f62;
        }

            .service-button:hover::before {
                /* content: url('../src/GroupCyrcle.svg');  */
                display: inline-block;
                width: 20px;
                height: 20px;
                content: "";
                background-image: url(../src/GroupCyrcle.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
                vertical-align: middle;
            }

        .service-button::before {
            display: inline-block;
            width: 20px;
            height: 20px;
            content: "";
            background-image: url(../src/GroupCyrcle.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
            vertical-align: middle;
        }

        .service-button[data-active="true"] {
            border-color: #beff54;
            color: #fbfbfb;
        }

            .service-button[data-active="true"]::before {
                display: inline-block;
                width: 20px;
                height: 20px;
                content: "";
                background-image: url(../src/CyrcleGreen.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
                vertical-align: middle;
            }

    input[id="email-pop-up"],
    input[id="phone-pop-up"],
    input[id="name-pop-up"],
    input[id="company-name-pop-up"] {
        height: 30px;
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--input-underline, #5a5f62);
        color: var(--input-text-color, #fff);
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding: 5px;
        margin-top: 20px;
        outline: none;
        transition: border-color 0.3s ease-in-out;
    }

        input[id="email-pop-up"]:focus,
        input[id="phone-pop-up"]:focus,
        input[id="name-pop-up"]:focus,
        input[id="company-name-pop-up"]:focus {
            border-bottom: 1px solid var(--input-focus-underline, #beff54);
            caret-color: var(--input-focus-underline, #beff54);
        }

    .submit-button-pop-up {
        height: 46px;
        flex-shrink: 0;
        background: #282a2c;
        color: #5a5f62;
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .contact-details h3 {
        color: #fbfbfb;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        width: 90%;
    }

    .modal-body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .left-section {
        flex: 1;
    }

    .vertical-line {
        display: none;
    }

    .text-packge-name {
        margin-top: 0;
        margin-bottom: 33px;
    }

    .text-details {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .error-box {
        width: 390px;
        height: auto;
        border-radius: 20px;
        background: var(--_, #fbfbfb);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 0px;
        overflow: hidden;
    }

    .error-message {
        display: flex;
        padding: 0px;
        margin: 0px;
        margin-top: -25px;
        order: 2;
        flex-direction: column;
        align-items: center;
    }

        .error-message h1 {
            color: var(--_, #101011);
            text-align: center;
            font-family: Manrope;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            margin: 0px;
        }

            .error-message h1 span {
                color: var(--_, #101011);
                font-family: Manrope;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                text-transform: lowercase;
            }

        .error-message p {
            color: var(--_, #5a5f62);
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            width: 311px;
            text-align: center;
        }

            .error-message p span {
                color: var(--_, #101011);
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }

    .HTTP-error {
        margin-top: 26px;
        margin-bottom: 10px;
    }

    .HTTP-description {
        margin-bottom: 32px;
        margin-top: 0px;
    }

    .reload-button {
        width: 270px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--_, #000504);
        color: var(--_, #beff54);
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 60px; /* Spacing between text and button */
    }

    .error-image {
        width: 390px;
        height: 390px;
        flex-shrink: 0;
        /* Higher z-index value */
        /* Optional: Add styles for image alignment */
    }

        .error-image img {
            width: 100%;
            height: 100%;
            display: flex;
            object-fit: contain;
            order: 1; /* This will ensure the image keeps its aspect ratio */
        }
}

@media (max-width: 992px) {
    .error-box {
        width: 736px;
        height: auto;
        border-radius: 24.607px;
        background: var(--_, #fbfbfb);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 2000; /* Ensure it's above other content */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 0px;
        overflow: hidden;
    }

    .error-message {
        display: flex;
        padding: 0px;
        margin: 0px;
        margin-top: -25px;
        order: 2;
        flex-direction: column;
        align-items: center;
    }

        .error-message h1 {
            color: var(--_, #101011);
            text-align: center;
            font-family: Manrope;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            margin: 0px;
        }

            .error-message h1 span {
                color: var(--_, #101011);
                font-family: Manrope;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                text-transform: lowercase;
            }

        .error-message p {
            color: var(--_, #5a5f62);
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            width: 347px;
            text-align: center;
        }

            .error-message p span {
                color: var(--_, #101011);
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }

    .HTTP-error {
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .HTTP-description {
        margin-bottom: 42px;
        margin-top: 0px;
    }

    .reload-button {
        width: 270px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--_, #000504);
        color: var(--_, #beff54);
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 66px; /* Spacing between text and button */
    }

    .error-image {
        width: 390px;
        height: 390px;
        flex-shrink: 0;
        /* Higher z-index value */
        /* Optional: Add styles for image alignment */
    }

        .error-image img {
            width: 100%;
            height: 100%;
            display: flex;
            object-fit: contain;
            order: 1; /* This will ensure the image keeps its aspect ratio */
        }
}
